// colors
$indigo: #4056A1;
$indigo-hover: rgb(34, 54, 117);
$indigo-tweet-icon: rgba(64, 87, 161, 0.75);

$orange: rgb(210, 155, 48);

$grey: #545149;

$white: #FFFFFF;
$background-white: #f4f1ec;

$red: red;

// fonts
$prim-font: 'Bungee', sans-serif;
$sec-font: 'Source Sans Pro', sans-serif; 
