@import "_variables";

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  background-color: $indigo;
  color: $white;
  padding: 1.5em;
}

nav > span {
  font-family: $prim-font;
  font-size: 30px;
}

.nav-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 60px;
  background-color: $indigo;
  border-color: $indigo;
  border-radius: 8px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}
.nav-button:hover {
  background-color: $indigo-hover;
}

.nav-button > h4 {
  width: 100%;
  color: $white;
  margin: 5px 0px 0px 0px;
  font-weight: normal;
}

.nav-button > div {
  height: 25px;
}

.nav-button > div > i {
  color: $red;
  width: 100%;
  margin-top: 0px;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%, 100% {
    margin-top: 0px;
  }

  50% {
    margin-top: 5px;
  }
}