html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
}

main {
  align-self: center;
  width: 90%;
}

footer {
  height: 25px;
  background-color: #f4f1ec;
 }